ul{
    list-style-type: none;
    margin: 0;
    padding: 5;
    overflow: hidden;
    height: 35px;
    background-color: lightcoral;
}

li{
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #ffcccc;
}

body{
    /*background: #ffcccc;*/
    background-image: url(assets/lowContrastTileBackground.jpg);
}

p,a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header{
    font-size: medium;
}

footer{
    text-align: center;
    font-size: smaller;
}

#premiseBox{
    margin: 25px;
    padding: 15px;
    background-color: #ffffff; /*inside box*/
    border: 5px double #ffcccc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boxFormat{
    margin: 25px;
    padding: 10px;
    background-color: #bdc099; /*putside box*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

