
html{
    scroll-behavior: smooth;
}

title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p,a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

ul{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover{
    background-color: #ffcccc;
    text-decoration: none;
}

header{
    font-size: medium;
}

body{
    font-size: 16pt;
    background-image: url(/img/lowContrastTileBackground.jpg);
}

.boxFormat{
    margin: 25px;
    padding: 10px;
    background-color: #005C6D; /*outside box*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#premiseBox{
    margin: 25px;
    padding: 15px;
    background-color: #ffffff; /*inside box*/
    height: auto;
    border: 8px double #C69696;
}

.nav-item:hover{
    background-color: #ffcccc;
}

.nav-link{
    color: #ffffff;
}

#nav-bar{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #005C6D;
    margin-bottom: 2rem;
    margin-top: .5rem;
}

#nav-bar:hover{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffcccc;
}

#wc-logo{
    margin-top: .5rem;
}