html{
    scroll-behavior: smooth;
    font-size: 1rem;
}

.card{
    background: linear-gradient(#e66465, #9198e5);
    width: 6.25rem;
    height: 6.25rem;
    display: inline-block;
}

.dice{
    position: relative;
    background: #005C6D;
    padding: 0.938rem;
    border: 0.5rem solid #C69696;
    left: 0.5rem;
    margin-top: 0.938rem;
    width: fit-content;
}

body{
    /*background: #ffcccc;*/
    background-image: url(/img/lowContrastTileBackground.jpg);
}

p a{
    text-decoration: none;
}

p{
    font-size: 16pt;
}

a:hover{
    color: #9198e5;
}

#cardOne{
    top: 15%;
    left: 30%;
}

#cardTwo{
    top: 15%;
    left: 30%;
}

#cardThree{
    top: 15%;
    left: 30%;
}

#premiseBox{
    margin: 1.563rem;
    padding: 0.938rem;
    background-color: #ffffff; /*inside box*/
    border: 0.5rem double #C69696;
    height: auto;
}

#nav-bar{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #005C6D;
    margin-bottom: 2rem;
    margin-top: .5rem;
}

#nav-bar:hover{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffcccc;
}

#wc-logo{
    margin-top: .5rem;
    margin-left: 1rem;
}

.boxFormat{
    margin: 1.563rem;
    padding: 0.625rem;
    background-color: #005C6D; /*outside box*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-item:hover{
    background-color: #ffcccc;
    color: #005C6D;
}

.nav-link{
    color: #ffffff;
}


